* {
    /* 格線 */
    outline:0;
    outline: 1px solid rgb(178, 212, 214);

}

#Guide-page-img{
    width: auto;
    width: 100%;
    // background-image: url(../img/guide-pages/Guide-img.jpg);
    background-color: black;
    background-repeat: no-repeat;

/* 幽靈  */
#ghost{
    display: flex;
    justify-content: flex-end;
    min-height: auto;
    min-height: 300px;

/* 幽靈圖動態 */
.ghost{
    animation: ghost 20s infinite;
    max-height: 200px;
    margin-top: 40px;
 
    }
    /* 幽靈圖滑動動態出現 */
// @keyframes ghost {
//     0% {
//         transform: translate(8px, 5px);
//     }
//     50% {
//         transform: translate(-185px, -10px);
//     }
//     100% {
//         transform: translate(8px, -30px);
//     }
// }

// }


/* 血跡圖片位置 */
.front-end{
    display: flex;
    margin-left: 34%;
    margin-right: 34%;
    width: 800px;
    margin-top: -30px;
    /* height: 712px; */
    display: flex;
    justify-content: space-between;

            /* 前端血跡圖 */
            #front-end{
                background-image: url(../img/guide-pages/Bloodstain-b.png);
                background-repeat: no-repeat;
                color: ghostwhite;
                width: 400px;
                height: 300px;
                position: relative; 
                right: 23.5%;
                animation: front-end 2s infinite;
                }

            /* 後端血跡圖 */
            #rear-end{
                background-image: url(../img/guide-pages/Bloodstain-b.png);
                background-repeat: no-repeat;
                color: ghostwhite;
                width: 400px;
                height: 300px;
                position: relative;
                animation: front-end 2s infinite; 
                
                }

            /* 血跡圖上下浮動 */
            // @keyframes front-end {

            //         0% {
            //             transform: translate(0px, 10px);
                        
            //         }
            //         50% {
            //             transform: translate(0px, -30px);
            //         }
            //         100% {
            //             transform: translate(0px, 10px);
            //         }
            //     }
            /* 前後端血跡文字 */
            .front-span{
                position: absolute;
                left: 140px;
                top: 105px;
                font-size: 50px;
                text-align: center;
                }

}

/* 女鬼 與鬼島logo大div */
.Female-ghost{
    display: flex;
    margin-top: 90px;
    flex-direction: row;
    justify-content: space-between;
 
    
        /* 喜歡冒險文字typewriter */
        .typewriter{
            color: rgb(218, 216, 211);
            text-align: center;
            display: block;
            height: 200px;
            margin-top: 30px;
            line-height: 50px;
            font-size: 1.5rem;
            letter-spacing: 8px;
            }


}


}



//  -------RWD---------1300px *1680px------------- 
 
@media screen and (min-width:1300px) and (max-width:1700px){
    body{
    width: 1300px;
    width: 100%;
    background-color: blueviolet;
    
   #Guide-page-img{
    width: auto;
    width: 100%;
    // background-image: url(../img/guide-pages/Guide-img.jpg);
    // background-color: black;
    background-repeat: no-repeat;

/* 幽靈  */
#ghost{
    display: flex;
    justify-content: flex-end;
    min-height: auto;
    min-height: 300px;

/* 幽靈圖動態 */
.ghost{
    animation: ghost 20s infinite;
    max-height: 200px;
    margin-top: 40px;
 
    }
    /* 幽靈圖滑動動態出現 */
@keyframes ghost {
    0% {
        transform: translate(8px, 5px);
    }
    50% {
        transform: translate(-185px, -10px);
    }
    100% {
        transform: translate(8px, -30px);
    }
}

}


/* 血跡圖片位置 */
.front-end{
    display: flex;
    margin-left: 34%;
    margin-right: 34%;
    width: 800px;
    margin-top: -30px;
    /* height: 712px; */
    display: flex;
    justify-content: space-between;

            /* 前端血跡圖 */
            #front-end{
                background-image: url(../img/guide-pages/Bloodstain-b.png);
                background-repeat: no-repeat;
                color: ghostwhite;
                width: 400px;
                height: 300px;
                position: relative; 
                right: 23.5%;
                animation: front-end 2s infinite;
                }

            /* 後端血跡圖 */
            #rear-end{
                background-image: url(../img/guide-pages/Bloodstain-b.png);
                background-repeat: no-repeat;
                color: ghostwhite;
                width: 400px;
                height: 300px;
                position: relative;
                animation: front-end 2s infinite; 
            
                }

            /* 血跡圖上下浮動 */
            @keyframes front-end {

                    0% {
                        transform: translate(0px, 10px);
                        
                    }
                    50% {
                        transform: translate(0px, -30px);
                    }
                    100% {
                        transform: translate(0px, 10px);
                    }
                }
            /* 前後端血跡文字 */
            .front-span{
                position: absolute;
                left: 140px;
                top: 105px;
                font-size: 50px;
                text-align: center;
                }

}

/* 女鬼 與鬼島logo大div */
.Female-ghost{
    display: flex;
    margin-top: 90px;
    flex-direction: row;
    justify-content: space-between;
 
    
        /* 喜歡冒險文字typewriter */
        .typewriter{
            color: rgb(218, 216, 211);
            text-align: center;
            display: block;
            height: 200px;
            margin-top: 30px;
            line-height: 50px;
            font-size: 1.5rem;
            letter-spacing: 8px;
            }


}


}






    


    }
    
   
}
}