a.front-span{
    text-decoration: none;

}
#Guide-page-img{
    width: auto;
    width: 100%;
    background-image: url(../img/guide-pages/Guide-img.jpg);
    background-repeat: no-repeat;
// 幽靈  
#ghost{
    display: flex;
    justify-content: flex-end;
    min-height: auto;
    min-height: 300px;


// 幽靈圖動態 
.ghost{
    animation: ghost 20s infinite;
    max-height: 200px;
    margin-top: 40px;

    }
    // 幽靈圖滑動動態出現
@keyframes ghost {
    0% {
        transform: translate(-8px, 5px);
    }
    50% {
        transform: translate(-185px, -10px);
    }
    100% {
        transform: translate(-8px, -30px);
    }
}

}


//血跡圖片位置 
.front-end{
    display: flex;
    width: 1200px;
    width: 100%;
    margin-top: -90px;
    height: 300px; 
    display: flex;
    justify-content: center;
            // 前端血跡圖 
            #front-end{
                background-image: url(../img/guide-pages/Bloodstain-b.png);
                background-repeat: no-repeat;
                color: ghostwhite;
                width: 430px;
                height: 280px;
                position: relative; 
                margin: 60px;
                animation: front-end 1.6s infinite;
                }
            
            // 後端血跡圖 
            #rear-end{
                background-image: url(../img/guide-pages/Bloodstain-b.png);
                background-repeat: no-repeat;
                color: ghostwhite;
                width: 430px;
                height: 280px;
                position: relative;
                margin: 60px;
                animation: front-end 1.6s infinite; 
            
                }
               
            // 血跡圖上下浮動
            @keyframes front-end {

                    0% {
                        transform: translate(0px, 10px);
                        
                    }
                    50% {
                        transform: translate(0px, -30px);
                    }
                    100% {
                        transform: translate(0px, 10px);
                    }
                }
            // 前後端血跡文字 
            .front-span{
                position: absolute;
                left: 140px;
                top: 105px;
                font-size: 50px;
                text-align: center;
                color: rgb(194, 192, 192);
                font-weight: bold;
                }
            .front-span:hover {
                   color: rgb(121, 20, 17);
                   text-shadow: 4px 2px rgb(250, 245, 245) ;
                    }

}

// 女鬼 與鬼島logo大div 
.Female-ghost{
    display: flex;
    margin-top: 85px;
    flex-direction: row;
    justify-content: space-between;
    #Female-ghost-s{
        display:none;//影藏女鬼 小圖
    }

        // 喜歡冒險文字typewriter
        .typewriter{
            color: rgb(218, 216, 211);
            text-align: center;
            display: block;
            height: 250px;
            margin-top: 30px;
            line-height: 60px;
            font-size: 1.3rem;
            letter-spacing: 8px;
            }

            #logo-white-s{
                display: none;//隱藏logo小圖
            }
}


}

//  -------RWD---------992px *1300px------------- 
 
@media screen and (min-width:992px) and (max-width:1300px){
    #Guide-page-img{
        width:990px;
        width: 100%;
        // 女鬼 與鬼島logo大div 
        .Female-ghost{
            margin-top: 166px;
            max-height: 350px;
            #Female-ghost{
            display: none;//隱藏女鬼 大圖
            margin-top: 15px;
            }
            #Female-ghost-s{
            display:block;//顯示女鬼 小圖
            width: 250px;
            }
            
                // 喜歡冒險文字typewriter 
                .typewriter{
                    margin-top: -30px;
                    font-size: 1.15rem;
                    }
                    #logo-white-b{
                        display: none;//隱藏logo大圖
                    }
                    #logo-white-s{
                        display:block;//顯示logo小圖
                    }
        
        }
    } 
}
