@include respond(small) {
}
//  -------RWD---------576px *767px------------- 
 
@media screen and (min-width:576px) and (max-width:767px){
    //第一個div背景圖
  #guide-pages{
  width: 560px;
  width: 100%;
  
  //第二個div
  .Guide-page-img {
            width: 560px;
            width: 100%;
            display: block;
          //符咒圖div
      .box1 {
          width: 1200px;
          width: 100%;
          margin: 40px;
          margin-top: -73px;
          margin-bottom: -291px;
          //左邊符咒圖
          #L_magicpaper {
          background: url("../img/guide-pages/spell-left-3.png");
          background-repeat: no-repeat;
          z-index: 2;
          width: 180px;
          height: 400px;
        }
        //logo圖
          #logo-white-b{
          max-width: 150px;
          max-height: 150px;
          margin-top: 50px;
          margin-right: 68px;
  
          } //右邊符咒圖
        #R_magicpaper {
          background: url("../img/guide-pages/spell-right-3.png");
          background-repeat: no-repeat;
          width: 180px;
          height: 400px;
          margin-bottom: -10px;
          }
    }
  
  
        //前後台圖片div位置 
        .front-end{
            // height: 200px;
              display: grid;
              margin-top: 180px;
              margin-left: 15px;
            // 前台圖 
            #front-end{
                background-image: url(../img/guide-pages/brand-2.png);
                background-repeat: no-repeat;
                width: 200px;
                height: 80px;
                // margin: 1px;
                }
            // 後台圖 
            #rear-end{
                background-image: url(../img/guide-pages/brand-2.png);
                background-repeat: no-repeat;
                width: 200px;
                height: 80px;
                // margin: 1px;
              }
         //前後台文字滑文字 
         a.front-span{
          left: 40px;
          top: 12px;
          font-size: 2rem;
          }
               
      }
  
                //幽靈&老鼠div
                #Kappa{
                  display: flex;
                  justify-content: space-between;
                  margin-top: 165px;
                  // .Kappa-b{
                    img.Kappa-s{
                      width: 150px;
                      height: 150px;
                      margin-top: 104px;
                    }
                  // }
                  .ghost-mose-b{
                    background: url("../img/guide-pages/ghost-mose-s-2.png");
                    background-repeat: no-repeat;
                    width: 150px;
                    height: 150px;
                    margin-top: 106px;
                }
  
  
                }
     
  
    }
  
  
   }
  
  }
  
  //  -------RWD---------320px*575px ------------- 
 
  @media screen and (min-width:319px) and (max-width:575px){
    //第一個div背景圖
  #guide-pages{
    width: 320px;
    width: 100%;
  
  //第二個div
  .Guide-page-img {
            width: 320px;
            width: 100%;
            display: block;
          //符咒圖div
      .box1 {
          width: 320px;
          width: 100%;
          margin: 7px;
          margin-top: -73px;
          //左邊符咒圖
          #L_magicpaper {
          background: url("../img/guide-pages/spell-left-4.png");
          background-repeat: no-repeat;
          z-index: 2;
          width: 100px;
          height: 400px;
        }
        //logo圖
          #logo-white-b{
          max-width: 120px;
          max-height: 120px;
          margin-top: 50px;
          margin-right: -3px;
          margin-left: -27px;
          } //右邊符咒圖
        #R_magicpaper {
          background: url("../img/guide-pages/spell-right-4.png");
          background-repeat: no-repeat;
          width: 100px;
          height: 400px;
          margin-bottom: -10px;
          }
    }
  
  
        //前後台圖片div位置 
        .front-end{
              height: auto;
              display: grid;
              margin-top: 22px;
              margin-left: 15px;
            // 前台圖 
            #front-end{
                background-image: url(../img/guide-pages/brand-2.png);
                background-repeat: no-repeat;
                width: 200px;
                height: 80px;
                // margin: 1px;
                }
            // 後台圖 
            #rear-end{
                background-image: url(../img/guide-pages/brand-2.png);
                background-repeat: no-repeat;
                width: 200px;
                height: 80px;
              }
         //前後台文字滑文字 
         a.front-span{
          left: 40px;
          top: 12px;
          font-size: 2rem;
          }
               
      }
  
                //幽靈&老鼠div
                #Kappa{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 165px;
                      img.Kappa-s{
                        width: 80px;
                        height: 80px;
                        margin-top: -87px;
                      }
                    .ghost-mose-b{
                      background: url("../img/guide-pages/ghost-mose-s-4.png");
                      background-repeat: no-repeat;
                      width: 80px;
                      height: 80px;
                      margin-top: -81px;
  
                      }
                      
                  }   
  
     
  
    }
  
  
   }
  
  }
  
  //  -------RWD---------414px ------------- 
 
@media screen and (max-width:414px){
    //第一個div背景圖
  #guide-pages{
    width: 320px;
    width: 100%;
    .Guide-page-img {
        width: 320px;
        width: 100%;
        display: block;

        .box1 {
        margin-top: -63px;
        margin-bottom: 81px;
        #logo-white-b{
            margin-top: 100px;
            }
        }  

        //前後台圖片div位置 
        .front-end{
            margin-top:-78px;
           
          // 前台圖 
          #front-end{
            margin: 40px;
        }
          // 後台圖 
          #rear-end{
              margin: 40px;
            }
        }
      
     }
                
   }
  
  }

      //  -------RWD---------375px ------------- 
 
@media screen and  (max-width:375px){
    //第一個div背景圖
  #guide-pages{
    width: 320px;
    width: 100%;
    .Guide-page-img {
        width: 320px;
        width: 100%;
        display: block;

        .box1 {
            margin-top: -74px;
            margin-bottom: -153px;
            }  
                
     }
                
   }
  
  }
    //  -------RWD---------360px ------------- 
 
@media screen and  (max-width:360px){
    //第一個div背景圖
  #guide-pages{
    width: 320px;
    width: 100%;
    .Guide-page-img {
        width: 320px;
        width: 100%;
        display: block;

        .box1 {
            margin-top: -74px;
            margin-bottom: 71px;
            }  
            //前後台圖片div位置 
            .front-end{
                margin-top:-185px;
                }
                
                //幽靈&老鼠div
                #Kappa{
                  margin-top: 103px;
                    }
    
      
     }
                
   }
  
  }
      //  -------RWD---------320px ------------- 
 
@media screen and (max-width:320px){
    //第一個div背景圖
  #guide-pages{
    width: 320px;
    width: 100%;
    .Guide-page-img {
        width: 320px;
        width: 100%;
        display: block;
        .box1 {
            margin-top: -50px;
            margin-bottom: 4px;
            #logo-white-b{
                margin-top: 50px;
                }
            }  
            .front-end{
                margin-top: -206px;
            }
  
      
     }
                
   }
  
  }
