
//  -------RWD---------576pxpx *768px------------- 
 
@media screen and (min-width:576px) and (max-width:768px){
    #Guide-page-img{
        width:768px;
        width: 100%;
// 血跡圖片位置 
.front-end{
            // 前端血跡圖
            #front-end{
                background-image: url(../img/guide-pages/Bloodstain-s-1.png);
                max-height: 180px;
                width: 250px;
                }

            // 後端血跡圖 
            #rear-end{
                background-image: url(../img/guide-pages/Bloodstain-s-1.png);
                max-height: 180px;
                width: 250px;
                }

           
                // 前後端血跡文字
                .front-span{
                    width: 150px;
                    font-size: 2rem;
                    margin-top: -70px;
                    margin-left: -118px;
                    }
    
    }
    

        // 女鬼 與鬼島logo大div 
        .Female-ghost{
            margin-top: 160px;
            max-height: 300px;
            #Female-ghost{
            display: none;//隱藏女鬼 大圖
            }
            #Female-ghost-s{
            display:block;//顯示女鬼 小圖
            width: 130px;
            height: 130px;
            margin-top: 90px;
            }
            
                 // 喜歡冒險文字typewriter 
                 .typewriter{
                    width: 320px;
                    width: 100%;
                    margin-top: -68px;
                    font-size: 1.2rem;
                    line-height: 40px;
                    letter-spacing: 5px;
                    height: 300px;
                    }
                    #logo-white-b{
                        display: none;//隱藏logo大圖
                    }
                    #logo-white-s{
                        display:block;//顯示logo小圖
                         width: 90px;   
                         height: 80px;
                         margin-top: 140px;
                    }
        
        }
    } 
}




//  -------RWD---------480pxpx *575px------------- 
 
@media screen and (min-width:480px) and (max-width:575px){
    #Guide-page-img{
        width:768px;
        width: 100%;    
    
        .ghost{//縮小幽靈圖
            width: 120px;
            height: 120px;
        }
// 血跡圖片位置
.front-end{
        width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        display: grid;
            // 前端血跡圖 
            #front-end{
                background-image: url(../img/guide-pages/Bloodstain-s-1.png);
                max-height: 130px;
                width: 180px;
                margin: 20px;
                margin-top:40px;
                }

            // 後端血跡圖 
            #rear-end{
                background-image: url(../img/guide-pages/Bloodstain-s-1.png);
                max-height: 130px;
                width: 180px;
                margin: 20px;
                margin-top:40px;
                }

           
            // 前後端血跡文字 
            .front-span{
                width: 150px;
                font-size: 2rem;
                margin-top: -70px;
                margin-left: -118px;
                }

}


        // 女鬼 與鬼島logo大div 
        .Female-ghost{
            margin-top: 180px;
            max-height: 255px;
            #Female-ghost{
            display: none;//隱藏女鬼 大圖
            }
            #Female-ghost-s{
            display:block;//顯示女鬼 小圖
            width: 100px;
            height: 100px;
            margin-top: 120px;
            }
            
                //喜歡冒險文字typewriter 
                .typewriter{
                    width: 320px;
                    width: 100%;
                    margin-top: -30px;
                    font-size: 16px;
                    line-height: 31px;
                    // letter-spacing: 0px;
                    }
                    #logo-white-b{
                        display: none;//隱藏logo大圖
                    }
                    #logo-white-s{
                        display:block;//顯示logo小圖
                         width: 90px;   
                         height: 80px;
                         margin-top: 140px;
                    }
        
        }
    } 
}


//  -------RWD---------320pxpx *479px------------- 
 
@media screen and (min-width:319px) and (max-width:479px){
    #Guide-page-img{
        width:319px;
        width: 100%;    
        .ghost{//縮小幽靈圖
            width: 120px;
            height: 120px;
        }
// 血跡圖片位置 
.front-end{
        width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        display: grid;
            // 前端血跡圖 
            #front-end{
                background-image: url(../img/guide-pages/Bloodstain-s-1.png);
                max-height: 130px;
                width: 180px;
                margin: 20px;
                margin-top:40px;
                }

            // 後端血跡圖
            #rear-end{
                background-image: url(../img/guide-pages/Bloodstain-s-1.png);
                max-height: 130px;
                width: 180px;
                margin: 20px;
                margin-top:40px;
                }

           
            // 前後端血跡文字 
            .front-span{
                width: 150px;
                font-size: 2rem;
                margin-top: -70px;
                margin-left: -118px;
                }

}


        // 女鬼 與鬼島logo大div 
        .Female-ghost{
            margin-top: 167px;
            max-height: 255px;
            #Female-ghost{
            display: none;//隱藏女鬼 大圖
            }
            #Female-ghost-s{
            display:block;//顯示女鬼 小圖
            width: 80px;
            height: 80px;
            margin-top: 120px;
            }
            
                //喜歡冒險文字typewriter
                .typewriter{
                    width: 320px;
                    width: 100%;
                    margin-top: -45px;
                    font-size: 12px;
                    line-height: 31px;
                    height: 280px;
                    // letter-spacing: 0px;
                    }
                    #logo-white-b{
                        display: none;//隱藏logo大圖
                    }
                    #logo-white-s{
                        display:block;//顯示logo小圖
                         width: 60px;   
                         height: 60px;
                         margin-top: 140px;
                    }
        
        }
    } 
}