<div class="row">
  <div class="col-md-12">
    <div class="card">
     
      <div class="card-body">
        
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th>留言檢舉編號</th>
              <th>留言編號</th>
              <th>留言標題</th>
              <th>留言描述</th>
              <th>檢舉會員ID</th>
              <th>檢舉時間</th>
              <th>檢舉原因</th>
              <th>檢舉成立狀態</th>
            </tr>
          </thead>

          <tbody id="showPanel_StartGroup_msg">
            <tr  class="reportNo">
              <th scope="row">5</th>
              <td>20</td>
              <td class="text-break">聽說0是上架1是下架?</td>
              <td class="text-break">$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$</td>
              <td>33</td>
              <td>2019-09-29 15:57:45</td>
              <td class="reportReason">1</td>
              
              <td><label class="switch switch-3d switch-success">
                <input class="switch-input  reportStatus" type="checkbox"value="1"checked>
                <span class="switch-slider"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

