<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="container-fluid">
          <!--鬼島頁面標題  -->
          <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <i class="ace-icon fa fa-home home-icon"></i>
                      <a href="backend.html">鬼島 Let,s go</a>
                    </li>
                  <li class="breadcrumb-item">
                      <a href="backend.html">會員帳號管理</a>
                  </li>
              </ol>
          </nav>
          </div>
          <!--  修改這裡內容 -->
      <div class="card-body">
      <div class="card">
        <div class="card-header justify-content-end d-flex">
          <h4 class="text-muted col ">會員帳號管理</h4>
        </div>
        <table class="table text-center">
            <thead class="thead">
              <tr>
                <th scope="col">會員編號</th>
                <th scope="col">會員名稱</th>
                <th scope="col">會員帳號</th>
                <th scope="col">會員密碼</th>
                <th scope="col">會員電話</th>
                <th scope="col">會員信箱</th>
                <th scope="col">會員圖片</th>
                <th scope="col">會員狀態</th>
                <th scope="col">最後登入時間</th>
            </tr>
          </thead>
            <tbody id="adminTable" class="card-body">
              <tr>
                <td>01</td>
                <td>粒粒</td>
                <td>9487</td>
                <td>111</td>
                <td>87878787</td>
                <td>8745@mail.com</td>
                <td>111</td>
                <td>111</td>
                <td>111</td>
              </tr>
            </tbody>
        </table>
        </div>
    </div>
  
    <!-- 外面的四個div -->
</div>
    </div>
  </div>
</div>

