
  <div class="container-fluid">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
          <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <i class="ace-icon fa fa-home home-icon"></i>
                      <a href="backend.html">鬼島 Let,s go</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="backend_leader.html">排行榜管理</a>
                  </li>
              </ol>
          </nav>
      </div>

  <div class="row">
  <div class="col-md-12">
    <div class="card">
            <div class="card-header justify-content-start d-flex">
              <h4 class="text-muted col ">Top 03</h4>
            </div>
          <table class="table text-center">
              <thead class="thead">
                  <tr>
                      <th scope="col">排名</th>
                      <th scope="col">景點圖片</th>
                      <th scope="col">景點名稱</th>
                      <th scope="col">總票數</th>
                  </tr>
              </thead>
              <tbody id="adminTable" class="card-body">
                <tr>
                  <td>01</td>
                  <td><img src="./img/leaderboard/xinzhuang-hosp.jpg" alt="" style="width: 50px;"></td>
                  <td>【新莊廢棄醫院】</td>
                  <td>91</td>
                  </tr>
              </thead>
              </tbody>
              <tbody id="adminTable" class="card-body">
                <tr>
                  <td>02</td>
                  <td><img src="./img/leaderboard/theme-park.jpg" alt="" style="width: 50px;"></td>
                  <td>【杏林醫院】</td>
                  <td>71</td>
                  </tr>
              </thead>
              </tbody>
              <tbody id="adminTable" class="card-body">
                <tr>
                  <td>03</td>
                  <td><img src="./img/leaderboard/hosp.jpg" alt="" style="width: 50px;"></td>
                  <td>【台中大坑鬼城】</td>
                  <td>27</td>
                  </tr>
              </thead>
              </tbody>
          </table>

          <!-- top 10 -->
          <div class="card-header justify-content-start d-flex">
            <h4 class="text-muted col ">Top 10</h4>
          </div>
        <table class="table text-center">
            <thead class="thead">
                <tr>
                  <th scope="col">排名</th>
                  <th scope="col">景點名稱</th>
                  <th scope="col">總票數</th>
                </tr>
            </thead>
            <tbody id="adminTable" class="card-body">
              <tr>
                <td>01</td>
                <td>【新莊廢棄醫院】</td>
                <td>91</td>
              </tr>
            </thead>
            </tbody>
            <tbody id="adminTable" class="card-body">
              <tr>
                <td>02</td>
                <td>【杏林醫院】</td>
                <td>71</td>
              </tr>
            </thead>
            </tbody>
            <tbody id="adminTable" class="card-body">
              <tr>
                <td>03</td>
                <td>【台中大坑鬼城】</td>
                <td>27</td>
              </tr>
            </thead>
            </tbody>
        </table>
  
      <!-- 外面的div結束 -->
    </div>
</div>
</div>
</div>

  
