<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">試膽測驗題庫管理</div>
      <div class="card-body">
        <button class="btn btn-warning mr-1 mb-2 quizGameUpload" type="button" data-toggle="modal"
          data-target="#questionModal" data-whatever="@add">上傳題庫
        </button>
        <button class="btn btn-block btn-outline-primary" type="button">目前題庫</button>
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th>編號</th>
              <th>題目圖片</th>
              <th>選項一</th>
              <th>選項二</th>
              <th>選項三</th>
              <th>選項一分數</th>
              <th>選項二分數</th>
              <th>選項三分數</th>
              <th>刪除題目</th>
              <th>修改題目</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>             
              <td>
                <input type="text" name="quiz_option" class="form-control" placeholder="">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="">
              </td>
              <td>
                <select class="custom-select custom-select-sm">
                  <option selected>點選輸入分數</option>
                  <option value="1">0</option>
                  <option value="2">1</option>
                  <option value="3">1.5</option>
                </select>
              </td>
              <td>
                <select class="custom-select custom-select-sm">
                  <option selected>點選輸入分數</option>
                  <option value="1">0</option>
                  <option value="2">1</option>
                  <option value="3">1.5</option>
                </select>
              </td>
              <td>
                <select class="custom-select custom-select-sm">
                  <option selected>點選輸入分數</option>
                  <option value="1">0</option>
                  <option value="2">1</option>
                  <option value="3">1.5</option>
                </select>
              </td>
              <td>
                <div><img src=""></div>
              </td>

              <td>
                <button type="button" class="btn btn-danger">刪除</button>
              </td>
              <td>
                <button type="button" class="btn btn-dark">儲存</button>
              </td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>

<!-- 題目內容燈箱 -->
<div class="modal fade " id="questionModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="insert_game_quiz.php" method="post" enctype="multipart/form-data" id="questionAddForm">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新增題庫資料</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="question">測驗題目</label>
              <input type="text" name="quiz_question" class="form-control" required placeholder="喜歡看哪種鬼片?" id="question"
                name="question">
            </div>


            <div class="form-group col-md-6">
              <label for="opt_1">題目選項一<span class="ml-3 invalid-feedback"></span></label>
              <input type="text" name="quiz_opt1" class="form-control" required id="opt_1">
            </div>
            <div class="form-group col-md-6">
              <label for="opt_2">題目選項二<span class="ml-3 invalid-feedback"></span></label>
              <input type="text" name="quiz_opt2" class="form-control" required id="opt_2">
            </div>
            <div class="form-group col-md-6">
              <label for="opt_3">題目選項三<span class="ml-3 invalid-feedback"></span></label>
              <input type="text" name="quiz_opt3" class="form-control" required id="opt_3">
            </div>
            <div class="form-group ml-auto mr-auto col-md-6 col-sm-8">
              <label for="opt1-point">選項一分數</label>
              <select class="form-control" name="quiz_opt1_point" id="opt1-point">
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">1.5</option>
              </select>
            </div>
            <div class="form-group ml-auto mr-auto col-md-6 col-sm-8">
              <label for="opt2-point">選項二分數</label>
              <select class="form-control" name="quiz_opt2_point" id="opt2-point">
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">1.5</option>
              </select>
            </div>
            <div class="form-group ml-auto mr-auto col-md-6 col-sm-8">
              <label for="opt3-point">選項三分數</label>
              <select class="form-control" name="quiz_opt3_point" id="opt3-point">
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">1.5</option>
              </select>
            </div>
            <div>
              <form>
                <div class="form-group">
                  <label for="quiz_img_File">上傳測驗圖片</label>
                  <input type="file" name="quiz_img" class="form-control-file" id="quiz_img_File">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary addConfirm">確認</button>
          <button type="button" class="btn btn-secondary btn-danger addCancel" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>


