<footer class="app-footer">
    <div>
        <a href="https://coreui.io">鬼島 Let,s go</a>
        <span>&copy; 2020 creativeLabs.</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
    </div>
</footer>
       <!-- CoreUI and necessary plugins-->
       <script src="./js/node_js/jquery.min.js"></script>
       <script src="./js/node_js/popper.min.js"></script>
       <script src="./js/node_js/bootstrap.min.js"></script>
       <script src="./js/node_js/pace.min.js"></script>
       <script src="./js/node_js/perfect-scrollbar.min.js"></script>
       <script src="./js/node_js/coreui.min.js"></script>