<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- 鬼島logo小圖示 -->
    <link rel="shortcut icon" href="../img/icon/logo-icon.png" />
    <!-- Main styles for this application-->
    <link href="./css/backend.css" rel="stylesheet" />
    <link href="./css/backlogin.css" rel="stylesheet" />
    <!-- lily新增 -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css" />
    <!-- 文字前面的icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <!-- login登入 -->
    <script src="./js/backend/backLogininfo.js"></script>

    <!------------ 各分頁JS檔 --------------->
    <script src="./js/backend/forum_back.js"></script>
    <script src="./js/backend/spot_manage.js"></script>
    <script src="./js/backend/backend_game_content.js"></script>
    <script src="./js/backend/backend_StartGriuo_msg_report.js"></script>
    <script src="./js/backend/food_manage.js"></script>
    <script src="./js/backend/temple_manage.js"></script>
</head>
