<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="＃"> <i class="nav-icon icon-speedometer"></i>管理員帳號 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="＃"> <i class="nav-icon icon-speedometer"></i>會員管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="＃"> <i class="nav-icon icon-speedometer"></i> 景點管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="backend_game.html"> <i class="nav-icon icon-puzzle"></i> 試膽測驗題庫管理</a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link" href="#"> <i class="nav-icon icon-cursor"></i>揪團檢舉管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="＃"> <i class="nav-icon icon-pie-chart"></i>討論區檢舉管理</a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link" href="＃"> <i class="nav-icon icon-star"></i> 排行榜管理</a>
        </li>
    </ul>
</nav>