<!-- 明天再修改 -->

<div class="sidebar">
  <!-- sidebar menu-->
  <nav class="sidebar-nav" style="max-width: 300px; top: 30px;">
<ul class="nav" style="font-size: 15px;">

<li class="nav-item">
  <a class="nav-link" href="backend.html">
    <i class="nav-icon icon-pie-chart"></i> 管理員管理 </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="backend_member.html">
    <i class="nav-icon icon-pie-chart"></i> 會員帳號管理</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="backend_game.html">
    <i class="nav-icon icon-puzzle"></i> 試膽測驗題庫管理</a>
</li>
</li>
<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#">
    <i class="icon-people nav-icon"></i> 景點管理</a>
  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="icon-social-github nav-icon"></i> 設定管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="roleEquipMng.html">
        <i class="icon-eyeglass nav-icon"></i>管理</a>
    </li>
  </ul>
</li>
<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#">
    <i class="nav-icon icon-star"></i> 揪團檢舉管理</a>
  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <a class="nav-link" href="actReport.php">
        <i class="nav-icon icon-star"></i> 活動檢舉管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="nav-icon icon-star"></i> 管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="nav-icon icon-star"></i> 管理</a>
    </li>
  </ul>
</li>
<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#">
    <i class="nav-icon icon-social-youtube"></i> 討論區檢舉管理</a>
  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="nav-icon icon-social-youtube"></i>管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="nav-icon icon-social-youtube"></i>管理</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="backend_leader.html">
    <i class="nav-icon icon-calculator"></i> 排行榜管理
  </a>
</li>
</ul>
</nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>