#mouse {
    width: 100px;
    height: 100px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url("../img/adventrue/text.png");
    overflow: hidden;
}
@media (max-width: 768px) {
    #mouse {
        display: none;
    }
}
