.tourCard {
  width: 280px;
//   height: 420px;
  // border: 1px solid green;
  box-shadow: 1px 1px 2px rgba(#575757, 0.3);
  border-radius: 5px;
  background-image: url("../img/component/card/cardBg.png");
  background-size: 120%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
  margin: 0px 20px 20px 0px;
  box-sizing: border-box;
  transition: transform 0.2s linear;

  &:hover {
    transform: translateY(-10px);
  }

  a {
    text-decoration: none;
  }

  hr {
    width: 90%;
    margin: 0 auto;
  }

  .tourImg {
    // border: 1px solid green;
    width: 100%;
    height: 180px;

    img {
      width: 100%;
    }
  }

  .tourTxt {
    text-align: left;
    margin: 8px auto;
    // border: 1px solid blue;
    width: 90%;
    position: relative;

    .tourTitle {
      // border: 1px solid blue;
      font-size: 1.2rem;
      color: #3b3b3b;
      position: relative;
      left: -15px;
    }

    .tourHost {
    //   border: 1px solid blue;
      display: flex;
      align-content: center;
      align-items: center;
      margin: 10px 0;

      .header {
        width: 40px;
        margin-right: 10px;
      }

      .name {
        // border: 1px solid blue;
          font-size: 1rem;
          color: #3b3b3b;
          margin: 0px;
        }

      
    }

    .tourInfo {
        // border: 1px solid blue;
        p {
        //   border: 1px solid blue;
          margin: 0px;
          color: #8c8a8a;
          vertical-align: center;
        }

        img {
        //   border: 1px solid blue;
          width: 20px;
          margin-right: 5px;
        }

        .date {
            // border: 1px solid red;
          color: #8c8a8a;
          font-size: 0.5rem;
          display: inline-flex;
          align-items: center;
        }

        .tourSpot{
            display: inline-flex;
            align-items: flex-start;
            
            img{
                width: 13px;
                margin-left: 2px;
            }

            p{
                margin-left: 4px;
            }
        }

        .tourJoin{
            display: inline-flex;
            align-items: flex-start;
        }
      }
  }

  .tourFavorite {
  margin: 0px;
//   border: 1px solid blue;
  display: inline-flex;
  float: right;

  p {
    color: #3b3b3b;
    margin: 0 10px;
    display: inline-flex;
    font-size: 0.8rem;
  }
  .like {

    img {
      width: 20px;
      margin-right: 3px;
      cursor: pointer;
    }
  }
}


}


