#ghostSpotBG {
  border: 1px solid blue;
  background-image: url("../img/spot/BG/spotBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#ghostSpotSection1 {
//   border: 1px solid red;
  width: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0) 100%);


  .breadcrumb {
      padding: 5px;
    ul {
    //   border: 1px solid green;
      display: inline-flex;

      li {
        // border: 1px solid green;
        padding: 0px 2px;
        opacity: .7;

        a{
            text-decoration: none;
            color: white;
            padding-left: 5px;
        }

        &:hover{
            opacity: 1;
        }

        &:before {
          content: "/";
        }

        &:first-child {
          &:before {
            content: "";
          }
        }
      }
    }
  }

  .spotIntro{
    // border: 1px solid red;
    padding: 20px;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;

    .picZone{
        width: 40%;
        // border: 1px solid green;

        .bigPic{
            width: 100%;

            img{
                width: 100%;
            }
        }

        .photobook{
            width: 100%;
            // border: 1px solid blue;
            
            h2{
                font-size: 1.2rem;
                margin: 5px 0;
                opacity: .7;

                img{
                    width: 26px;
                }
            }

            .smallPicZone{
                // border: 1px solid greenyellow;
                display: inline-flex;
                justify-content: space-between;

                img{
                    width: 30%;
                    box-sizing: border-box;
                }

                .selected{
                    border: 5px solid #700000;
                    border-radius: 2px;
                }
            }
        }

    }

    .txtZone{
        // border: 1px solid green;
        width: 55%;
        position: relative;

        h1{
            font-size: 2rem;
        }

        .introTxt{
            // border: 1px solid greenyellow;
            margin: 20px;

            h3{
                font-size: 1.2rem;
                color: #8c8a8a;
                padding: 0px;
            }

            p{
                color: #8c8a8a;
                margin: 5px;
            }
        }

        .spotInform{
            // border: 1px solid greenyellow;
            margin: 20px 20px;

            ul{
                li{
                    margin: 5px 0;
                    color: #8c8a8a;
                    // border: 1px solid red;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: auto 0;

                    span{
                        font-size: 2rem;
                        font-weight: 800;
                    }

                    img{
                        margin-right: 10px;
                    }


                    &:nth-child(2){
                        color: white;
                        text-shadow: 0 0 5px red;
                    }
                }
            }
        }

        .btn-outline{
            width: 90%;
            margin: 0 auto;
            padding: 10px 0;
            text-align: center;
            font-size: 1.1rem;
        }

        .spiderweb{
            width: 400px;
            position: absolute;
            top: 150px;
            right: -150px;

            img{
                width: 100%;
            }

        }
    }



  }


}
