<div class="spotCard">
    <div class="spotImg">
        <img src="./img/component/card/spotCard01.png">
        <p class="rate">膽量指數:<span class="rateScale">8.5</span>/10</p>
        <div id="rank">
            <img src="./img/component/card/rank.png">
            <p>NO.1</p> 
        </div>
    </div>
    <div class="spotTxt">
        <h2 class="spotTitle">【新莊廢棄醫院】</h2>
            <p class="spotIntro">
                <a href="">日式建築風格的廢棄醫院，現已經荒廢無人，保留了完整的醫療設備....(more)</a>
            </p>
            <p class="groupJoin">
                <a href="">
                    查看景點相關揪團
                </a>
            </p>
    </div>
    <hr>
    <div class="spotStatus">
        <p class="like">
            <img id="heart" src="./img/icon/likeBefore.svg" title="加入收藏">
            80
        </p>
        <p class="vote">
            <img class="voteImg" src="./img/icon/vote-01.svg">
            130
        </p>
    </div>

</div>