<div class="spotMsg">

    <div class="msgWrap">
        <div class="headIcon">
            <img src="./img/icon/default_header.svg">
        </div>

        <div class="txtZone">

            <div class="msgInfo">
                <p class="name">富江我老婆</p>
                <p class="date">2020-02-12 18:19 發表</p>
            </div>

            <div class="msgContent">
                <p>
                    這個地方我來了很多次，特別有愛所以寫攻略文。
                    這邊有居民所以還是希望不要來打擾到人家。旁邊的廢棄宿舍是隱藏關卡，因為那邊有狗會叫引來警衛所以很難過去。
                </p>
            </div>

            <div class="reportZone">
                <img src="./img/icon/report_red.svg">
                <p>檢舉留言</p>
            </div>

        </div>
    </div>

    <div class="ghostFace">
        <img src="./img/spot/msgGhostFace.png">
    </div>


</div>