@include respond(medium) {
    // 平板都寫在裡面
    .createAdventure {
        .section_wrapper {
            .wrapper {
                //???
                width: 95%;
                // background-color: greenyellow;
                #tab-1 {
                    border: 1px solid white;
                    padding: 0;
                    max-width: 90%;
                    justify-content: center;
                    .left {
                        width: 60%;
                        margin: 0 auto;
                        // border: 1px solid yellow;
                    }
                }
            }
        }
    }
}
