@include respond(small) {
  //手機都寫在裡面
  .createAdventure {
    overflow: hidden;
    
    .section_wrapper {
      width: 100%;
      .form-tabs {
        width: 95%;
        margin: 0 auto 0 auto;
        .mainspot {
          font-size: 1.5rem;
          margin: 0 auto 25px auto;
          // border: 1px solid red;
        }
        .form-menu {
          display: flex;
          justify-content: center;
          transform: translateX(-30px);
          li {
            .nav-label {
              display: block;
              height: 45px;
              width: 75px;
              margin: 0 auto;
              // background-color: royalblue;
              font-size: 16px;
              left: 30px;
              position: relative;
              top: 15px;
              // line-height: 20px;
            }
          }
          li .progressbar::after {
            bottom: 63px;
            // left:8px;
            transform: translate(20px);
            width: 40px;
          }
        }
      }
      .wrapper {
        width: 98%;

        // border: 1px solid goldenrod;
        #tab-1 {
          // border: 1px solid white;
          padding: 0;
          max-width: 95%;
          justify-content: center;
          margin: auto;
          margin-top: 80px;
          .left {
            width: 93%;
            margin: 0 auto;
            // border: 1px solid yellow;
            .title {
              font-size: 17px;
              padding: 0 45px 0 10px;
            }
            .leftblock {
              textarea {
                width: 200px;
                height: 135px;
              }
            }
          }
          .right {
            width: 93%;
            height: 300px;
            margin: 30px auto;
          }
        }

        #tab-2 {
          .left{
            width: 65%;
          }
          .right2 {
            .heading {
              .tour_imagePreview{
                right: 15%;
              }
              .decoration_hand {
                top: -400px;
                right: -20px;
              }
            }
          }
        }

        #tab-3 {
          margin: 0 auto;

          .left {
            .tourTitle{
              margin: 50px 0;
              min-width: 300px;
              position: relative;
              left: -50px;
            }
          }

          .section {
            justify-content: flex-end;

            .left {
              width: 250px;
              height: 250px;
              // border: 1px solid pink;

              .temple_img{
                width: 100%;
                height: 100%;
              }



              img {
                width: 250px;
                height: 250px;
              }
            }

            .right {
              width: 93%;
              margin: 30px auto 0 auto;
              // border: 1px solid yellowgreen;
              input {
                width: 60%;
                height: 45px;
                margin-bottom: 20px;
              }
              textarea {
                width: 60%;
                height: 110px;
                padding: 10px;
              }
            }
          }
        }

        #tab-4{

          #tourPreview_Section1 {
            width: 100%;
            .spotIntro {
              padding: 0px;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              .picZone {
                display: flex;
                width: 100%;
                .bigPic {
                  //大的照片
                  width: 80%;
                  height: 100%;
        
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
              .txtZone {
                width: 100%;
                margin-top: 10px;
                .introTxt {
                  // border: 1px solid greenyellow;
                  margin: 0px;
                  p {
                    color: #8c8a8a;
                    margin: 5px;
                  }
                }
                .spiderweb {
                  z-index: 1;
                  top: 100px;
                  right: -150px;
                }
              }
            }

          }

          #tourPreview_Section2 {
 
            height: auto;
            margin: 0 auto;
            padding: 20px;
            
                #customeTour {
                  background-color: rgb(255, 255, 255);
                 background-size: 0;
                 border-radius: 5px;
                 padding: 20px 0;
        
                  .tourSpot {
                    margin-bottom: 40px;
                    flex-wrap: wrap;
                    .tourImg {
                      width: 100%;
                      img {
                        width: 100%;
                      }
                    }
                    .tourSpotTxt {
                      width: 100%;
                      text-align: center;
                      .tourSpotInfo {
                        flex-direction: column;
                        // justify-content: start;
                        margin-top: 0;
                        .btn-outline2 {
                          width:80%;
                          margin:0 auto 5px auto;                  width: 180px;
                          border-radius: 20px;
                        }
                      }
                    }
                  }
                  .tourStatus {
                    display: none;
                  }
                }
              
            
          }
        }
      }
      .button_block {
        .btn-outline {
          width: 160px;
          height: 50px;
          font-size: 20px;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}
