/* CSS Reset */
* {
  /* 格線 */
  outline:0;
  //  1px solid rgb(196, 206, 209);
}

body{
  
  background-image: url(../img/leaderboard/Background-image.png);
  width: 1200px;
  width: 100%;
    /* 投給你內心 */
   #vote{
      display: flex;
      justify-content: space-around;
      max-height: 300px;
      margin-bottom:110px;
          .vote-img{
            display: inline-block;
          
          }
          .vote-text{
            margin-top: 110px;
            width: 400px;
            margin-bottom: 0px;
            display: inline-block;
            border-bottom: 5px solid rgb(231, 231, 231);
            white-space: nowrap;
            font-size: 3rem;
          }


      }

}

/* div.Haunted-house 排行TOP前三名 */
.Haunted-house{
  width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;  
  font-size: 1rem;
  height: 280px;
  background-repeat: no-repeat;
  margin-bottom: 100px;

        /* 景點圖片 */
        .Haunted-house-i{
          width: 15%;
          border-radius: 100%;
          display: flex;
          justify-content: flex-start  
          
         }
        .Strip-background{
          background-image: url(../img/leaderboard/ghost-4.png);
          background-repeat: no-repeat;
          margin-top: 160px;
          display: inline-block;
          width: 700px;
          max-height: 150px;
          }
        //h2
        .Haunted-house-t{
          width: 200px;
          max-height: 100px;
          line-height: 100px;
          margin-top: -30px;
          font-size: 8rem;
          display: flex;
          justify-content: space-around  ;
          display: 0.5;
          color: rgb(212, 211, 211);

          }
        //p
        .Haunted-house-p{
          width: 500px;
          height: 50px;
          line-height: 50px;
          margin-top: -50px;
          display: flex;
          justify-content: flex-end;
          margin-left: 20px;
          word-spacing:50px;
          }

  
}
// 來抓交替囉 
#alternately{
  border: aqua px solid;
  width: 410px;
  display: flex;
  flex-direction:column;
  margin-left: 78.4%;
  // float: right;
  max-height: 800px;
  margin-top: -450px;
        .alternately-p{
          width: 300px;
          max-height: 50px;
          font-size: 1.5rem;
          }
        .alternately-i{
          width: 400px;
          max-height: 400px;
       
          }
}

// 排行榜表單

#leaderboard-form{
  background-image: url(../img/leaderboard/ghost-2.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;
  margin-top: 200px;

      #leaderboard-form-1{
        padding:0px;
        display: flex;
        justify-content: center;

        tr{
            width: 300px;
            line-height: 50px;
            background-color: rgb(139, 4, 4);
            td{
              width: 300px;
              line-height: 50px;
              text-align: center;
              padding: 8px;

              }
            }

        }
      #leaderboard-form-2{
          padding:0px;
          display: flex;
          justify-content: center;

        tr{
            width: 300px;
            line-height: 80px;
            border-bottom: rgb(145, 144, 142) 1px solid;
            td{
                padding: 8px;
                width: 300px;
                line-height: 50px;
                text-align: center;
                }
            }
       }

       .mouse{
        margin-left: 84%;
        margin-top: -1200px;
       }

}


