@include respond(medium) {
  //平板都寫在裡面
 

}
//桌基板幽靈隱藏
#leaderboard-form{//div-leaderboard-form
  background-image: none;}
//  -------RWD---------992px *1299px------------- 
 
@media screen and (min-width:768px) and (max-width:991px){
  body{
    width: 760px;
    width: 100%;
    // background-color: sandybrown;
/* 投給你內心 */
#vote{
    .vote-img{
      width: 230px;
      height: 170px;
    }
    .vote-text{
      margin-top: 55px;
      width: 300px;
      margin-bottom: 50px;
      font-size: 1.8rem;
    }
}

}


/* div.Haunted-house 排行TOP前三名 */
.Haunted-house{
width: 680px;
width: 100%;
<<<<<<< HEAD
max-height:180px;
=======
max-height:200px;
>>>>>>> bd6d75a8f7b5d3d50cc4618cda2c634ad6f7f07c
      /* 景點圖片 */
      .Haunted-house-i{
        width: 22%;
       }
      .Strip-background{//div
        background-image: url(../img/leaderboard/ghost-4-s.png);
        margin-top: 60px;
        width: 1200px;
        width: 67%;
        height: 200px;
        margin-top: 15px;
        }
      //h2
      .Haunted-house-t{
        font-size: 4.8rem;
        margin-top: -1px;
        margin-left: -15px;
        }
      //p
      .Haunted-house-p{
        margin-left: -105px;
        margin-top: -63px;
        word-spacing:0px;//空白建間隔
        }

}
// 來抓交替囉隱藏
#alternately{
      .alternately-p{
        display: none;
        }
      .alternately-i{
        display: none;
        }
}
//手機板的幽靈隱藏
#ghost-2-s{
  display: block;
  margin-top: 150px;
  margin-bottom: -180px;

}
// 排行榜表單

#leaderboard-form{//div-leaderboard-form
margin-bottom: 250px;
    #leaderboard-form-1{//table-leaderboard-form-1
        #Form-name{//名次的tr
            width: 180px;
            line-height: 50px;
            background-color: rgb(139, 4, 4);
            td.Form-name{
              width: 180px;
              // line-height: 50px;
              text-align: center;
              padding: 5px;
              }
          }
          .Ranking{
                  width: 180px;
                  td{
                      padding: 5px;
                      width: 180px;
                      }
                  }

      }

}

// 老鼠
     .mouse{
      width: 180px;
      margin-top: 10px;
     }

     .Vote-btn{//按鈕
       margin-bottom: 50px;
       margin-top: -50px;

     }
}



