//幽靈圖動效
@include respond(medium) { 
  #ghost-2-s{
    max-width: 180px;
    max-height: 180px;
    animation:ghost-2-s 2s infinite;
    animation-timing-function: ease-in-out ;    
    }
      @keyframes ghost-2-s {
      0% {
       transform:translate(0,-10px);        
      }
      50% {
       transform:translate(0,15px);   
       filter: contrast(200%) brightness(150%) hue-rotate(170deg);
       //  contrast圖片對比  /brightness變暗0%或變亮100% /hue-rotate色相旋轉   
        }
      100% {
       transform:translate(0,-10px);
      }
    }
}
    //平板都寫在裡面

  //  -------RWD---------768px *991px------------- 
  @media screen and (min-width:768px) and (max-width:991px){
    #leaderboard{
        width: 760px;
        width: 100%;
        font-size: 1rem;
        background-image: url(../img/leaderboard/Background-image-1.png);

    //投給你內心 
    #vote{
      margin-bottom: -80px;
        .vote-img{
          width: 230px;
          height: 220px;
          margin-left: 40px;
        }
        .vote-text{
          margin-top: 110px;
          width: 300px;
          margin-bottom: 50px;
          font-size: 1.8rem;
        }
    }
    

    
    
  //div.Haunted-house 排行TOP前三名 
    .Haunted-house{
    width: 680px;
    width: 100%;
    max-height:250px;
          // 景點圖片 
          .Haunted-house-i{
            width: 250px;
           }
          //滑鼠滑過去圖片放大
         .Haunted-house-i:hover{
          width: 300px;
          height:300px;
          margin-top: -25px;
         }
          .Strip-background{//div
            background-image: url(../img/leaderboard/ghost-4-s.png);
            margin-top: 60px;
            width: 1200px;
            width: 67%;
            height: 200px;
            margin-top: 15px;
            }
          //h2
          .Haunted-house-t{
            font-size: 4rem;
            margin-top: -1px;
            margin-left: -25px;
            }
          //p
          .Haunted-house-p{
            margin-left: -105px;
            margin-top: -25px;
            font-size: 1rem;
            word-spacing:0px;//空白建間隔
            }
    
    }
    // 來抓交替囉隱藏
    #alternately{
          .alternately-p{
            display: none;
            }
          .alternately-i{
            display: none;
            }
    }
    //幽靈圖
    #ghost-2-s{
      margin-top: 150px;
      margin-bottom: -180px;
    
    }
    // 排行榜表單
    
    #leaderboard-form{//div-leaderboard-form
      margin-bottom: 250px;
        #leaderboard-form-1{//table-leaderboard-form-1
            #Form-name{//名次的tr
                width: 120px;
                line-height: 50px;
                td.Form-name{
                  width: 250px;
                  padding: 5px;
                  }
              }
              .Ranking{
                      width: 120px;
                      td{
                          padding: 5px;
                          width: 250px;
                          }
                      }
    
          }
    
    }
    
    // 老鼠
         .mouse{
          width: 160px;
          margin-top: 10px;
         }
    
         .Vote-btn{//按鈕
           margin-bottom: 50px;
           margin-top: -50px;
    
         }
}
 
} 