<footer>
    <div id="warn">
        <p id="warnTitle"><span>鬼島探險</span>注意事項</p>
        <ol>
            <li>美食壯膽，再出發探險</li>
            <li>不要半夜吹口哨、不要嬉笑打鬧</li>
            <li>有人拍肩，不要回頭看</li>
            <li>尋鬼探險事後三炷香</li>
            <li>探險完畢若有不適，本站既不負責</li>
        </ol>
    </div>
    <div id="spell" class="cameraSpell">
        <div class="papper">
            <img src="./img/footer/spell_1.png">
        </div>
        
    </div>
    <div id="footLink">
        <a href="">
            <img src="./img/logo/LOGO_black.png" id="BottomLogo">
        </a>
        <nav>
            <ul>
                <li>
                    <p>
                        <a href="../ghostIsland.html">
                            前進鬼島
                        </a>
                    </p>

                    <p>
                        <a href="../index.html">
                            尋鬼探險
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="../leaderboard.html">
                            靈異票選
                        </a>
                    </p>

                    <p>
                        <a href="">
                            試膽測驗
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="">
                            試膽測驗
                        </a>
                    </p>

                    <p>
                        <a href="../forum.html">
                            文章投稿
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="../member.html">
                            會員中心
                        </a>

                    </p>
                    <p>
                        <span class="subLink">
                            <a href="../member.html">
                                會員資料
                            </a>
                            <a href="../member.html">
                                揪團紀錄
                            </a>
                        </span>
                        <span class="subLink">
                            <a href="../member.html">
                                我的收藏
                            </a>
                            <a href="../member.html">
                                投稿紀錄
                            </a>
                        </span>
                    </p>
                </li>
            </ul>
        </nav>
    </div>
</footer>