<header>
    <div id="navStatus">
        <div id="soundStatus">
            <img src="./img/icon/soundOn.png">
            <p>Sound On</p>
        </div>
        <div id="memStatus">
            <a href="">
                <img src="./img/icon/default_header.svg">
            </a>
            <p><a href="">登入</a></p>
            <p><a href="">註冊</a></p>
        </div>

    </div>
    <nav class="desktopHeader">
        <ul>
            <li>
                <a href="../ghostIsland.html">
                    前進鬼島
                </a>
            </li>
            <li>
                <a href="">
                    尋鬼探險
                </a>
            </li>
            <li>
                <a href="../leaderboard.html">
                    靈異票選
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img id="topLogo" src="./img/logo/LOGO_white.png">
                </a>
            </li>
            <li>
                <a href="">
                    試膽測驗
                </a>
            </li>
            <li>
                <a href="../forum.html">
                    靈異討論
                </a>
            </li>
            <li>
                <a href="../member.html">
                    會員中心
                </a>
            </li>
        </ul>
    </nav>

    <nav class="rwdHeader">
        <a href="../index.html">
            <img id="topLogo2" src="./img/logo/LOGO_white.png">
        </a>
        
        <button class="hamburger hamburger--elastic is-active" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>
</header>