$subtitle: rgb(53, 53, 53);
$red: rgb(224, 8, 8);
$frame: 1px solid red;

* {
  font-family: "微軟正黑體";
}
body {
  display: block;
}

.adventure_wrap {
  // background-color: #161616;
  background-image: url("../img/adventrue/尋鬼探險.png");
  // background-image: url("../img/spot/BG/spotBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  // height: 100%;
  // border:2px solid green;
}

.people_Layout {
  padding: 100px 0 100px 0;
  // border: 2px solid red;
  text-align: center;
  // border:1px solid red;
  width: 100%;
  .people_group {
    // border:1px solid red;
    position: relative;
    display: inline-block;
    animation: swinging 1.5s ease-in-out infinite alternate;
    transform-origin: 220px 15px;
    &:before {
      content: "";
      background-image: url("../img/adventrue/鬼2.png");
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      z-index: -5;
      top: 70px;
      left: 280px;
    }
    &::after {
      content: "";
      background-image: url("../img/adventrue/鬼1.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 500px;
      height: 200px;
      position: absolute;
      // z-index: -5;
      top: 50px;
      right: 60px;
      z-index: -5;
    }

    .people_group_number {
      position: absolute;
      top: 45%;
      left: 25%;
      font-size: 20px;

      h1 {
        font-size: 40px;
        margin: 0;
      }
      #add_number {
        display: inline-block;
        font-size: 50px;
        font-weight: 700;
        margin: 0;
      }
      span {
        display: inline;
        font-size: 32px;
      }
    }
  }
}
// .people_Layout

@keyframes swinging {
  from {
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-2deg);
  }
}

.adventure_container {
  /* background-color: white; */
  padding-top: 100px;
  margin: auto;
  width: 1200px;
  display: block;
  // border: $frame;

  .filter {
    width: 100%;
    height: 44px;
    border-radius: 0px 5px;
    //   overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    .input-group {
      // background-color: #f3f3f3;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      border-radius: 2px;
      overflow: hidden;
      padding: 0px 15px;
      box-sizing: border-box;
      // margin-bottom: 30px;
      border-radius: 0px 5px;
      .ikeyword {
        background-color: #f3f3f3;
        width: 100%;

        //   background-color: transparent;
        height: 44px;
        > input {
          outline: none;
          width: 100%;
          box-sizing: border-box;
          height: 44px;
          border: 0;
          font-size: 16px;
          font-weight: 700;
          padding: 0 0px 0 10px;
          background-color: transparent;
        }
        .b-divide {
          height: 15px;
          width: 1px;
          background: rgb(44, 44, 44);
        }
      }

      .area {
        background-color: #f3f3f3;
        height: 44px;
        width: 48%;
        //   width: 100%;

        .area_filter {
          width: 100%;
          line-height: 44px;
          border: 0;
          font-size: 16px;
          font-weight: 700;
          padding: 0 0px 0 20px;
          background-color: transparent;
          outline: none;
          color: rgb(52, 52, 52);
          &:hover {
            cursor: pointer;
          }
        }
        .b-divide {
          height: 15px;
          width: 1px;
          background: rgb(82, 82, 82);
        }
      }
      .attraction {
        background-color: #f3f3f3;
        height: 44px;
        width: 30%;
        .attraction_filter {
          width: 100%;
          line-height: 44px;
          border: 0;
          font-size: 16px;
          font-weight: 700;
          padding: 0 0px 0 20px;
          background-color: transparent;
          outline: none;
          color: $subtitle;
          &:hover {
            cursor: pointer;
          }
        }
        .b-divide {
          height: 15px;
          width: 1px;
          background: rgb(82, 82, 82);
        }
      }
      .search {
        margin-left: 2%;
        border: 1px solid red;
        height: 44px;
        width: 150px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        background-color: #d11c00;
        &:hover {
          background-color: rgb(230, 34, 4);
          cursor: pointer;
        }
      }
    }
  }
  .down_filter_all {
    display: none;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-around;
    .down_filter {
      label {
        color: white;
        padding-right: 5px;
      }
      select {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 50px;
        color: white;
        opacity: 0.8;
        cursor: pointer;
        // -webkit-appearance: none;
        option {
          background-color: rgb(58, 57, 57);
          cursor: pointer;
        }
      }
    }
    #trash {
      cursor: pointer;
      color: rgb(173, 172, 172);
      margin-right: 2%;
    }
  }
  .item_all_left_filter {
    display: flex;
    width: 100%;
    //定住原本位置的
    .left_filter_group {
      margin-right: 2%;
      display: flex;
      width: 30%;
      //  border:1px solid red;
      .left_filter {
        top: 20px;
        // position: fixed;
        box-shadow: 2px 2px 8px black;
        background-image: url("../img/StartGroup/行程背景.jpg");
        // background-position: right;
        margin-right: 2%;
        background-size: cover;
        background-position: center;
        width: 270px;
        transition:opacity 0.5s;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.925);
        height: 750px;
        > h2 {
          color: #333;
          font-weight: 700;
          margin: 20px 0 0 20px;
          font-size: 18px;
        }
        .group_filter {
          padding: 5px 20px 25px 20px;
          .filter_list {
            position: relative;
            padding: 10px;
            box-sizing: border-box;
            &::before {
              content: "";
              position: absolute;
              height: 1px;
              width: 90%;
              background-color: rgb(87, 87, 87);
              bottom: 0px;
            }
            > h2 {
              color: #333;
              font-size: 18px;
              font-weight: 700;
            }
            .filter_list_group {
              padding-left: 20px;
              // .list_check{
              // }
              .list_check[type="radio"] {
                display: none;
              }
              .list_check[type="radio"] + label {
                margin: 8px 0;
                color: #333;
                display: block;
                font-weight: 600;
              }
              .list_check[type="radio"] + label::before {
                content: "";
                display: inline-block;
                width: 14px;
                height: 14px;
                background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/unchecked-checkbox-50.png");
                background-size: contain;
                margin-right: 10px;
                position: relative;
                top: 2px;
              }

              .list_check[type="radio"]:checked + label::before {
                background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/checked-checkbox-50.png");
              }
            }
          }
        }
      }
    }
    .item_all {
      // width: 1200px;
      // display: flex;
      flex-direction: column;
      width: 100%;
      .no_resule {
        margin: 0 auto;
        box-shadow: 2px 2px 5px black;
        padding: 10px 0px;
        width: 100%;
        // height:40px;
        border-radius: 30px;
        background-color: rgba(25, 25, 25, 0.952);
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        // border: 2px solid white;
      }
      // border: $frame;
      .item {
        position: relative;
        bottom: 0px;
        opacity: 1;
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        background-color: #ffffffef;
        border-radius: 10px;
        // border: 1px solid #d2d2d2;
        overflow: hidden;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.02);
          box-shadow: 2px 2px 10px rgb(31, 30, 30);
        }
        .pic {
          width: 30%;
          /* border:2px solid red; */
          vertical-align: middle;
          img {
            height: 100%;
            width: 100%;
            vertical-align: middle;
            object-fit: cover;
          }
        }
        .txt {
          padding: 15px 20px;
          display: flex;
          flex-direction: column;
          width: 55%;
          border-right: 1px solid rgb(211, 209, 209);
          /* border:2px solid red; */
          .txt_header {
            flex-direction: column;
            display: flex;
            a {
              text-decoration: none;
              h1 {
                font-size: 32px;
                font-weight: 900;
                color: $subtitle;
                margin-top: 5px;
                // margin-bottom: 10px;
                // margin-left: -10px;
              }
              // h1
            }
            // a
            .settime_tourchat {
              .tour_chat {
                color: rgb(86, 86, 86);
              }
            }
          }
          // .txt_header
          .location1 {
            margin: 3% 0;
            display: flex;
            flex-wrap: wrap;
            .locationitem {
              margin-right: 1%;
              margin-bottom: 1%;
              display: block;
              border-radius: 15px;
              // border: 1px solid red;
              padding: 5px 10px;
              background-color: #9f1904;
              color: white;
              cursor: pointer;
              transition: background-color 0.5s;
              &:hover {
                background-color: red;
                cursor: pointer;
              }
            }
          }
          > p {
            margin: 0px;
            line-height: 1.5rem;
            color: $subtitle;
            > a {
              font-size: 16px;
              color: #434eae;
              position: relative;
              line-height: 1.2;
              &::before {
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                background: #434eae;
                position: absolute;
                transition: all 0.3s ease-Out;
                transition-delay: 0;
              }
              &:hover {
                color: rgb(255, 119, 28);
              }
              &:hover::before {
                width: 0;
              }
            }
          }
          .time_total {
            display: inline-flex;
            align-items: baseline;
            > span {
              letter-spacing: 1.5px;
              width: 48%;
              margin: 1%;
              display: block;
              align-items: center;
              color: rgb(27, 27, 27);
              i {
                color: rgb(27, 27, 27);
                display: inline-block;
                margin-right: 2%;
              }
              .all_total {
                font-size: 25px;
                color: #d11c00;
                font-weight: 700;
                font-family: Arial, Helvetica, sans-serif;
              }
            }
          }
          .people_head {
            display: flex;
            align-items: center;
          }

          .progress {
            width: 90%;
            margin: 10px auto;
            border-radius: 10px;
            overflow: visible;
            margin-bottom: 50px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
            background-color: rgb(201, 201, 201);
            padding: 1px;
            .progress-bar {
              transition: all 0.3s;
              background-color: rgb(255, 0, 0);
              box-shadow: inset 0 1px 2px rgb(151, 5, 5), 0 1px rgba(255, 255, 255, 0.08);
              position: relative;
              border-radius: 4px;
              width: 0%;
              height: 4px;
              &::before {
                content: " ";
                width: 15px;
                height: 15px;
                background-color: rgb(70, 67, 67);
                border-radius: 50%;
                position: absolute;
                top: -6px;
                left: -15px;
                border: 2px solid rgb(219, 219, 219);
                box-sizing: border-box;
              }
              &::after {
                content: " ";
                width: 15px;
                height: 15px;
                background-color: #d11c00;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: -6px;
                border: 2px solid rgb(219, 219, 219);
                box-sizing: border-box;
              }
              > span {
                width: 130px;
                position: absolute;
                bottom: -55px;
                font-size: 14px;
                padding: 2px 4px 2px 5px;
                right: -80px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                .progress_image {
                  padding-right: 5px;
                  width: 25px;
                  height: 25px;
                  display: inline-block;
                  img {
                    width: 100%;
                  }
                }
                > p {
                  color: $subtitle;
                }
              }
            }
          }
        }
        // .txt
        .peple_number {
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .tour_endtime {
            display: inline-block;
            padding: 10px 30px;
            background-color: #2a2a2a;
            color: white;
            border-radius: 10px;
            text-decoration: none;
            transition: background-color ease 0.5s;
            margin-bottom: 5px;
            cursor: pointer;
          }

          //這是紅色填滿按鈕，拿來做立即加入
          .btn_fill_red {
            display: inline-block;
            padding: 10px 30px;
            background-color: #d11c00;
            color: white;
            border-radius: 10px;
            text-decoration: none;
            transition: background-color ease 0.5s;
            margin-bottom: 5px;
            &:hover {
              background-color: red;
              cursor: pointer;
            }
          }

          .main_people {
            display: flex;
            flex-direction: column;
            align-items: center;
            .main_people_img {
              width: 80px;
              height: 80px;
              padding-bottom: 10px;
              img {
                width: 100%;
              }
            }
            .main_people_name {
              color: $subtitle;
              padding: 5px 0 15px 0;
              font-size: 14px;
            }
          }
          .last_time {
            color: $subtitle;
            font-size: 18px;
            font-weight: 600;
            &:hover {
              color: $red;
              cursor: pointer;
            }
          }
        }
      }
      // .normal_item{
      //   position: relative;
      //   opacity: 1;
      //   bottom: 0;
      // }
      // .item
      .search_list {
        //搜尋結果如下....
        // width: 300px;
        border: 1px solid white;
        display: block;
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        margin: 0 auto 20px auto;
        text-align: center;

        background-color: rgba(22, 22, 22, 0.733);
      }
      .item_opacity {
        opacity: 0;
        position: relative;
        bottom: -80px;
      }
    }
  }
}

.go_top {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 10;
  // background-color: red;
  right: 50px;
  bottom: 130px;
  animation: gotop 2.5s infinite;
  animation-timing-function: ease;

  // border: 2px solid rgb(255, 255, 255);
  img {
    width: 100%;
  }
}
@keyframes gotop {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(75px);
  }
  100% {
    transform: translateY(50px);
  }
}

//跳出篩選燈箱
.filter_background {
  display: none;
  background-color: rgba(0, 0, 0, 0.781);
  height: 100%;
  width: 100%;
  position: fixed;
  flex-wrap: wrap;
  z-index: 100;

  > .filter {
    background-color: white;
    width: 600px;
    height: 600px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -300px;
    background-image: url("../img/StartGroup/行程背景.jpg");
    background-size: cover;
    .shut_down {
      position: absolute;
      right: 20px;
      top: 20px;
      &:hover {
        cursor: pointer;
      }
      i {
        color: rgb(253, 253, 253);
        font-size: 40px;
        opacity: 0.9;
      }
    }

    .filter_title {
      position: relative;
      display: inline-block;
      animation: swinging 1.5s ease-in-out infinite alternate;
      transform-origin: 150px 15px;
      left: 25%;
      top: -5px;
      width: 300px;

      &::after {
        content: "地區景點類別";
        position: absolute;
        left: 15%;
        bottom: 20%;
        font-size: 35px;
        font-weight: 600;
      }
      img {
        width: 100%;
      }
    }
    @keyframes swinging {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(5deg);
      }
    }
    > .filter_area_all {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      color: rgb(97, 97, 97);
      .filter_area {
        font-weight: 600;
        font-size: 30px;
        margin: 0 20px;

        &:hover {
          cursor: pointer;
          color: rgb(29, 29, 29);
          @include show_tab(rgb(71, 71, 71));
        }
      }
    }
  }
  .filter_all_img {
    padding: 20px;
    box-sizing: border-box;
    height: 340px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.603), 0 1px rgba(255, 255, 255, 0.08);
    .filter_img {
      filter: grayscale(1);
      overflow: hidden;
      width: 250px;
      height: 150px;
      margin: 10px 10px 0 10px;
      position: relative;

      span {
        z-index: 10;
        position: absolute;
        bottom: 15px;
        left: 20px;
        font-size: 18px;
        color: rgb(177, 175, 175);
        transition: color 0.8s ease;
        text-shadow: 1px 1px 1px black;
      }
      &:hover > span {
        color: white;
      }
      img {
        vertical-align: middle;
        font-size: 0;
        width: 100%;
        transition: all 0.8s ease;
        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }

    .filter_border {
      padding: 5px;
      font-size: 0;
      border: 3px solid #d11c00;
      box-sizing: border-box;
      vertical-align: middle;
      filter: grayscale(0);
    }
  }
  //確認送出
  .true_sumbit {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    button {
      font-size: 18px;
      font-weight: 700;
      border-radius: 20px;
      color: white;
      background-color: rgb(24, 24, 24);
      border: 0;
      padding: 10px 30px;
      cursor: pointer;
    }
  }
}

//跳出個人燈箱
.people_message_background {
  background-color: rgba(0, 0, 0, 0.781);
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  flex-wrap: wrap;
  z-index: 100;

  .people_message {
    // background-color: white;
    background-image: url("../img/StartGroup/行程背景.jpg");
    background-size: cover;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -300px;
    .people_message_shut_down {
      position: absolute;
      right: 20px;
      top: 20px;
      &:hover {
        cursor: pointer;
      }
      i {
        color: rgb(253, 253, 253);
        font-size: 40px;
        opacity: 0.9;
      }
    }
    .people_message_img {
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin: 0 auto;
      // transform: translateY(-50px);
      border-radius: 50%;
      font-size: 0;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
      box-sizing: border-box;

      img {
        width: 100%;
      }
    }
    .people_message_name {
      font-size: 25px;
      color: $subtitle;
      margin: 0 auto;
      text-align: center;
      font-weight: 600;
      margin-top: 55px;
    }

    .tab_head {
      list-style: none;
      display: flex;

      justify-content: center;

      li {
        a {
          font-weight: 600;
          font-size: 22px;
          color: rgb(160, 160, 160);
          display: inline-block;
          margin: 15px 20px 20px 20px;
          cursor: pointer;
        }

        .show_tab {
          color: $subtitle;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            border-bottom: 2px solid $subtitle;
            transition: 0.4s;
            animation: line 0.8s;
          }
          @keyframes line {
            from {
              width: 0%;
            }
            to {
              width: 100%;
            }
          }
        }
      }
    }
    .tab_content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      overflow: auto;
      height: 400px;
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
      .show {
        transition: box-shadow 0.5s;
        width: 280px;
        margin: 5px;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.421);
        .tab_img {
          height: 120px;
          overflow: hidden;
          margin-bottom: 10px;
          img {
            width: 100%;
          }
        }
        h1 {
          font-size: 20px;
          color: $subtitle;
        }
        > span {
          font-size: 12px;
          color: $subtitle;
          display: block;
          margin: 5px 0 10px 0;

          i {
            color: $subtitle;

            display: inline-block;
            padding-right: 5px;
          }
        }
        // span
        .show_down {
          display: flex;

          p {
            font-size: 12px;
            color: $subtitle;
            display: block;

            &:nth-child(2) {
              margin-left: auto;
            }
          }
        }
        // .show_down
        &:hover {
          box-shadow: 2px 2px 5px rgba(58, 58, 58, 0.651);
        }
      }
    }
  }
}

.hide_tab_content {
  display: none;
}
