@include respond(small) {
  .adventure_wrap {
    background-size: 200%;
    background-position-x: center;
  }
  .adventure_container {
    width: 100%;
    .people_Layout {
      padding: 0 0 20px 0;
      .people_group {
        transform-origin: 150px 15px;
        width: 280px;
        > img {
          width: 100%;
        }
        &:before {
          content: "";
          width: 150px;
          height: 150px;
          left: 170px;
        }
        &::after {
          width: 150px;
          top: 50px;
          left: -50px;
        }
        .people_group_number {
          top: 40%;
          left: 20%;
          h1 {
            font-size: 28px;
            margin: 0;
          }
          #add_number {
            font-size: 40px;
          }
          // > span {
          // }
        }
      }
    }
    .filter {
      margin: 0 auto;
      width: 90%;
      .input-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;

        .ikeyword {
          height: 34px;
          width: 95%;
          display: inline-block;
          background-color: white;
          margin-bottom: 10px;
          > input {
            height: 34px;
          }
        }
        .area {
          width: 35%;
          height: 34px;
          .area_filter {
            line-height: 34px;
            // &:hover {
            // }
          }
        }
        .attraction {
          width: 35%;
          height: 34px;
          .attraction_filter {
            line-height: 34px;
            // &:hover {
            // }
          }
        }
        .search {
          width: 20%;
          height: 34px;
          // &:hover {
          // }
        }
      }
    }

    .down_filter_all {
      flex-wrap: wrap;

      width: 90%;
      margin: 15px auto;
      .down_filter {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        width: 45%;
        label {
          display: block;
          margin-bottom: 5px;
        }
        select {
          width: 100%;
          border: 1px solid white;
          border-radius: 3px;
          padding: 5px;
          box-sizing: border-box;
          color: white;
          opacity: 0.8;
          -webkit-appearance: none;
          option {
            background-color: rgb(58, 57, 57);
          }
        }
      }
    }
    #trash {
      margin-top: 10px;
    }
    .item_all_left_filter {
      .item_all {
        .item {
          width: 80%;
          margin: 25px auto;
          .peple_number {
            .btn_fill_red {
              border-radius: 20px;
              width: 50%;
              padding: 10px 5px;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .go_top {
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 10;
    // background-color: red;
    right: 25px;
    bottom: 130px;
    animation: gotop 2.5s infinite;
    animation-timing-function: ease;

    // border: 2px solid rgb(255, 255, 255);
    img {
      width: 100%;
    }
  }
  @keyframes gotop {
    0% {
      transform: translateY(50px);
    }
    50% {
      transform: translateY(75px);
    }
    100% {
      transform: translateY(50px);
    }
  }
}
