// ================================ 登入畫面
#indexLogin {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
    display: none;
    z-index: 999;

    // 登入
    .login_page1 {
        // border: 1px solid red;
        border-radius: 15px;
        background-image: url('../img/login/cardBg.png');
        background-size: 400px 500px;
        background-position: center;
        overflow: hidden;
        position: relative;
        width: 350px;
        height: 400px;
        color: black;

        // 關閉按鈕
        .logincancel {
            position: absolute;
            background-color: white;
            border: 0.5px solid #888;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            right: 5px;
            top: 5px;
            cursor: pointer;
            &:active {
                background-color: #700000;
            }
            &::before {
                content: '';
                width: 20px;
                height: 3px;
                top: 13px;
                right: 4px;
                background-color: black;
                position: absolute;
                transform: rotate(45deg);
            }
            &::after {
                content: '';
                width: 20px;
                height: 3px;
                top: 13px;
                right: 4px;
                background-color: black;
                position: absolute;
                transform: rotate(-45deg);
            }
        }
        // 封面
        .login_cover {
            // border: 1px solid red;
            text-align: center;
            font-size: 0;
            img {
                margin: 25px 0;
                width: 250px;
                height: 150px;
                // object-fit: cover;
            }
        }
        // 輸入框
        form {
            // border: 1px solid blue;
            text-align: center;
            p {
                input {
                    width: 200px;
                    height: 35px;
                    border-radius: 20px;
                    border: 1px solid #888;
                    padding: 5px 15px;
                    outline: none;
                    font-size: 1rem;
                }
            }
        }
        #loginbutton {
            // border: 1px solid red;
            background-color: #700000;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            padding: 5px 10px;
            width: 70px;
            border-radius: 20px;
            text-align: center;
            margin: 15px auto;
            box-shadow: 3px 4px 3px #461818;
            cursor: pointer;
            &:active {
                transform: translateY(3px);
                box-shadow: 2px 3px 1px #461818;
            }
        }
        .next_login {
            text-decoration: underline;
            text-align: center;
            font-size: 0.875rem;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                font-weight: 700;
            }
        }
    }

    // 註冊
    .login_page2 {
        // border: 1px solid red;
        border-radius: 15px;
        background-image: url('../img/login/cardBg.png');
        background-size: 400px 500px;
        background-position: center;
        border-radius: 15px;
        position: relative;
        width: 350px;
        height: 400px;
        color: black;
        // 關閉按鈕
        .login_cover {
            position: absolute;
            font-size: 0;
            top: -55px;
            left: 45px;
            img {
                width: 270px;
                height: 100px;
                object-fit: contain;
            }
        }
        .logincancel {
            position: absolute;
            background-color: white;
            border: 0.5px solid #888;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            right: 5px;
            top: 5px;
            cursor: pointer;
            &:active {
                background-color: #700000;
            }
            &::before {
                content: '';
                width: 20px;
                height: 3px;
                top: 13px;
                right: 4px;
                background-color: black;
                position: absolute;
                transform: rotate(45deg);
            }
            &::after {
                content: '';
                width: 20px;
                height: 3px;
                top: 13px;
                right: 4px;
                background-color: black;
                position: absolute;
                transform: rotate(-45deg);
            }
        }
        .login_cover {
            // border: 1px solid red;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 3px;
        }
        // 輸入框
        form {
            // border: 1px solid blue;
            text-align: center;
            padding-top: 40px;
            p {
                label {
                    font-size: 1rem;
                    font-weight: 700;
                }
                input {
                    width: 200px;
                    height: 35px;
                    border-radius: 20px;
                    border: 1px solid #888;
                    padding: 5px 15px;
                    outline: none;
                    font-size: 1rem;
                }
            }
        }
        #sure_btn {
            // border: 1px solid red;
            background-color: #700000;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            padding: 5px 15px;
            width: 100px;
            border-radius: 20px;
            text-align: center;
            margin: 15px auto;
            box-shadow: 3px 4px 3px #461818;
            cursor: pointer;
            &:active {
                transform: translateY(3px);
                box-shadow: 2px 3px 1px #461818;
            }
        }
    }
}
