@include respond(small) {
  #StartGroupSpotBG {
    padding-top: 100px;
  }

  #StartGroup_Section1 {
    width: 100%;
    .spotIntro {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .picZone {
        display: flex;
        width: 100%;
        .bigPic {
          //大的照片
          width: 80%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .photobook {
          //小的照片，區域
          width: 20%;
          h2 {
            display: none;
          }

          .smallPicZone {
            flex-wrap: wrap;
            img {
              width: 100%;
              margin: 0px 0px 5px 10px;
            }
          }
        }
      }
      .txtZone {
        width: 100%;
        margin-top: 10px;
        .introTxt {
          // border: 1px solid greenyellow;
          margin: 0px;
          p {
            color: #8c8a8a;
            margin: 5px;
          }
        }
        .spiderweb {
          z-index: 1;
          top: 100px;
          right: -150px;
        }
      }
    }
    // .progress {
    // }
  }

  #StartGroup_Section2 {
 
    height: auto;
    margin: 0 auto;
    padding: 20px;
    .allTabPage {
      #tabPage1 {
        position: relative;
        #officalTour {
          background-color: rgb(255, 255, 255);
         background-size: 0;
         border-radius: 5px;
         padding: 20px 0;

          .tourSpot {
            margin-bottom: 40px;
            flex-wrap: wrap;
            .tourImg {
              width: 100%;
              img {
                width: 100%;
              }
            }
            .tourSpotTxt {
              width: 100%;
              text-align: center;
              .tourSpotInfo {
                flex-direction: column;
                // justify-content: start;
                margin-top: 0;
                .btn-outline2 {
                  width:80%;
                  margin:0 auto 5px auto;                  width: 180px;
                  border-radius: 20px;
                }
              }
            }
          }
          .tourStatus {
            display: none;
          }
        }
        .myTourGuide {
          text-align: center;
          .G1 {
            display: none;
            // width: 300px;
            margin: 0px 0px 0px 50px;
            //   border: 1px solid greenyellow;
            position: absolute;
            top: 0px;
            left: -200px;
            .G1img {
              transform: scaleX(-1);
              width: 350px;
              animation: G_swing 3s linear infinite;
            }

            .G1L {
              width: 160px;
              position: absolute;
              right: -70px;
              top: 200px;
              transform-origin: top;
              animation: L_swing 3s linear infinite;
            }

            .ghostTalk {
              position: relative;
              bottom: 250px;
              left: 300px;
              animation: GT_swing 3s linear infinite;

              p {
                font-size: 1rem;
              }

              .line {
                width: 100px;
                border: 1px solid white;

                &:first-child {
                  transform: rotate(-10deg) translateY(-10px);
                }

                &:last-child {
                  transform: rotate(10deg) translateY(10px);
                }
              }
            }
          }

          .newMyTour {
            display: inline-block;
            // width: 200px;
            padding: 10px 40px;
            color: white;
            text-align: center;
            font-size: 1.2rem;
            margin: 0 auto;
            float:none;

            &:hover {
              background: #700000;
              border: #700000;
              color: white;
            }
          }
        }
      }
      #tabPage2 {
          position: relative;
      }
    }
  }

  #StartGroup_Section3 {
    .titleZone {
      border-bottom: 1px solid #cbcbcb;
      width: 350px;
      text-align: right;
      position: relative;
      left:-150px;

      h1 {
        font-size: 2rem;
        position: relative;
        right: -20px;
        color: #cbcbcb;
      }

      img {
        width: 100%;
        position: absolute;
        bottom: -220px;
        right: 0px;
      }
    }
    .G2 {
      // bottom: -150px;
      display: none;
    }
    .ghostTalk {
      // bottom: -110px;
      display: none;
    }
  }
  // #ghostSpotSection2 {
  //   .cardContain {
  //     width: 90%;
  //     overflow-x: scroll;

  //     button {
  //       display: none;
  //     }

  //     &::-webkit-scrollbar {
  //       height: 10px;
  //       background-color: rgba(255, 255, 255, 0);
  //     }
  //     &::-webkit-scrollbar-track {
  //       background-color: rgba(0, 0, 0, 0.6);
  //       border-radius: 10px;
  //     }
  //     &::-webkit-scrollbar-thumb {
  //       background-color: rgba(255, 255, 255, 0.6);
  //       border-radius: 10px;
  //     }
  //   }
  // }

  // #ghostSpotSection3 {
  //   width: 100%;
  //   padding: 50px 0px;
  //   height: 1100px;

  //   nav {
  //     padding: 0px 50px;
  //   }

  //   .allTabPage {
  //     width: 100%;
  //   }
  //   #tabPage1 {
  //     #officalTour {
  //       background-size: cover;
  //       background-position: center;
  //       height: 700px;
  //       padding: 0px auto;

  //       .newOffTour{
  //         margin: 0px 50px 50px 50px;
  //       }

  //       .tourSpot{
  //         flex-wrap: wrap;
  //         // justify-content: start;
  //         width: 90%;
  //         margin-bottom: 50px;

  //         .tourImg {
  //           width: 38%;
  //         }

  //         .tourSpotTxt{
  //           width: 60%;

  //         }
  //       }

  //       .tourStatus {
  //         display: none;
  //         width: 15px;
  //         top: 200px;
  //         left: 80%;
  //       }
  //     }

  //     .myTourGuide{
  //       .G1 {
  //         pointer-events: none;
  //         left: -100px;
  //         top: -100px;
  //       }

  //       .newMyTour{
  //         margin: 100px 0px;
  //       }
  //     }
  //   }
  // }

  #StartGroup_Section4 {
    .adventure_main {
      width: 100%;
      padding:0px 0  50px 0;

      // 這區是左邊按鈕
      .adventure_btn {
        display: block;
        .ghost_btn_all {
          right:0px;
          margin: 50px;
          width: 300px;
          transition: all 0.8s;
         
        }
        .ghost_btn2_all {
          left:-30px
          
        }
        
      }
    }
  }
}
