@include respond(medium) {
    //平板都寫在裡面
    #ghostIndexBG {
        background-size: 200%;
        background-position-x: center;
        background-attachment: fixed;

        #indexSection1 {
            .route1 {
                width: 200px;
                right: 200px;
                bottom: -350px;

                img {
                    width: 100%;
                }
            }
        }

        #indexSection2 {
            margin: 200px 0;

            .mapZone {
                display: none;
            }
        }
    }

    //================ 討論區

    #section4 {
        justify-content: center;
        .title_forum {
            width: 285px;
            .title {
                left: 15px;
            }
            .title2 {
                right: -15px;
            }
            img {
                width: 150px;
                bottom: -20px;
            }
        }
        .card_channel {
            .card_warp {
                width: 3500px;
            }
        }
        .card_path_1 {
            right: 0;
            bottom: 260px;
            width: 150px;
            height: 150px;
        }
        .card_path_2 {
            right: 0;
            width: 150px;
            height: 150px;
        }
    }

    #section3 {
        .adventure_main {
            width: 80%;
            display: block;
            .adventure_btn {
                display: flex;
                justify-content: space-between;
                // .ghost_btn {
                //     // .ghost_btn1 {

                //     // }
                // }
            }
        }
        .adventure_word {
            padding: 25px 0 0 0;
        }
    }
}
