.wrapper_member {
	background-image: url("../img/member/mem_background_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 400px;
	height: 1800px;

	.membertop {
		display: flex;
		justify-content:center;
	}
	#preview{
		width:200px; 
		height:200px;
		border:1px solid gray; 
		border-radius: 50%;
	}
	.section2_member{
		width: 800px;
		margin: 0 ;
	}
	.title_btn {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		.button1 {
			color: gray;
			display: inline-block;
			text-decoration: none;
			font-size: 1.25rem;
			margin: 0px 10px;
		}
	}

	.red {
		color: #fff !important;
		border-bottom: 1px solid white;
	}


	#class1 {
		width: 800px;
		margin: 20px 200px 0 0;
		form {
			margin: 26 0 0 30px;
		}
		span{
			display: inline;
		}
		.mem_id,
		.mem_account,
		.mem_psw,
		.mem_name {
			margin-left: 200px;
			color: white;
		}
		.mem_tel,
		.mem_email {
			margin-left: 170px;
		}
		.mem_time {
			margin-left: 140px;
		}
		.span2 {
			float: right;
			cursor: pointer;
		}

		p {
			color: white;
			display: inline;
			margin: 10px;
		}
	}

	#class4 {
		margin-top: 64px;
	}
	#class2 form,
	#class3 form,
	#class5 form {
		color: white;
		font-size: 1rem;
	}

	.table1 {
		padding-top: 20px;
	}

	#tour_table {
		border: 1px solid white;
	}

	#tour_table,
	#tour_table2 {
		list-style: none;
		color: white;
		border: 1px solid white;
		display: flex;
		background-color: black;
		width: 829px;
		height: 275px;
		box-sizing: border-box;
	}

	#tour_table2 {
		height: 320px;
	}

	#tour_table h1,
	#tour_table2 h1 {
		font-size: 1.5rem;
	}

	#tour_table h2,
	#tour_table2 h2 {
		font-size: 1.2rem;
	}

	#tour_table span,
	#tour_table2 span {
		font-size: 0.875rem;
	}

	#tour_table h1 span .btn-type5,
	#tour_table2 h1 span .btn-type5 {
		border: 1px solid red;
		background-color: #d11c00;
		padding: 4px 8px;
		border-radius: 50px;
		cursor: pointer;
		color: white;
	}

	#tour_table h1 span .btn-type5:hover,
	#tour_table2 h1 span .btn-type5:hover {
		background-color: #e62204;
	}

	#spotimg {
		width: 275px;
		height: 275px;
	}

	.spot_cotent {
		padding-left: 10px;
	}
	.btn-type1 {
		margin-left: 390px;
		border: 1px solid red;
		border-radius: 50px;
		color: white;
		font-size: 1.125rem;
		padding: 10px 20px;
		background-color: #d11c00;
		cursor: pointer;
		&:hover {
			background-color: #e62204;
		}
	}

	#icon_discuss2 {
		#espl_icon{
			width: 110px;
		}
		#love_icon{
			width: 20px;
		}
		#dis_icon{
			width: 20px;
		}
		#view_icon{
			width: 20px;
		}
	}
	.peoplenum {
		width: 70px;
	}
	.progress {
		width: 300px;
	}


	@media screen and (min-width:1201px) and (max-width:1250px){
		.membertop {
			display: flex;
			flex-direction: column;
			align-items: center;
			.section1_member{
				.menu{
					margin-bottom: 50px;
					form{
						width: 200px;
						margin: 0;
					}
				}	
			}
			.section2_member{
				.title_btn{
					margin: 0 auto;
					.button1{
						font-size: 1rem;
					}
					
				}
			}
		}
	}

	@media screen and (min-width:1251px) and (max-width:1900px){
		.membertop {
			width: 100%;
		}
	}


}

