
.wrapper_Member_center {
    // border: 1px solid red;
    // background-color: rgb(112, 111, 103);
    padding-top: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
    .title_btn{
        width:850px;
        margin-bottom:8px ;
        // border: 1px solid blanchedalmond;
        display: flex;
        justify-content:flex-end;
        .on{
            position: relative;
            transition: all 1.5s linear;
            &:before{
                content:"";
                width:95%;
                height:2px;
                background-color: whitesmoke;
                position: absolute;
                left:3px;
                bottom: 0px;
            }
            
        }
        .tab{
        // background-color: rgb(240, 255, 105);
        font-size: 1rem;
        margin: 0 10px 0 0; 
        // width: 120px;
        text-align: center;
        padding:6px 5px 2px 5px;
        }
        &:hover{
            cursor: pointer;
        }
        
    }
    .member_block1{
        width:850px;
        // height: 500px;
        margin-top: 5px;
        // border: 1px solid rgb(43, 187, 43); 
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .profile_photo{
            width:auto;
            display: flex;
            // align-items: center;
            justify-content: center;
            // border: 1px solid blue;
            margin-right: 18px;
           form{   
               .uploadimg{
                //    background-color: lightblue;
                   width:200px;
                   input{
                    height: 50px;
                    width:150px;
                    //影藏預設 點圖片換圖
                       display:none;
                   }
                   label{
                        .img_block{
                            margin: 0 auto;
                            width:150px;
                            height:150px;
                            border-radius: 50%;
                            background-color: rgb(0, 183, 255);
                            overflow: hidden;
                            &:hover{
                                cursor: pointer;
                            }
                            img{
                                width:150px;
                                height:150px;
                            }
                        }
                   }
               }
           }
        }
        .tab_form{
            // border: 1px solid rgb(207, 31, 154);
            width: 70%;
                // background-color: green;
                .profile{
                    .tabform1{
                       .profile_col{
                           display:flex;
                           justify-content: space-between;
                          input{
                              width: 160px;
                          
                          }
                          .col3{
                            // background-color: blueviolet;
                            width: 40px;
                            cursor: pointer;
                        }
                        }
                    }
                }
            
        }    
        
    }
    
    #created{
        display: none;
        width:50%;
        height: 500px;
        background-color: cadetblue;
        border: 1px solid white;
    }
    #joined{
        display: none;
        width:50%;
        height: 500px;
        background-color: coral;

    }
    #forumrecord{
        display: none;
        width:50%;
        height: 500px;
        background-color: crimson;
    }
    #favorite{
        display: none;
        width:50%;
        height: 500px;
        background-color: darkolivegreen;
    }
  

}

	

