@include respond(small) {
    
        //平板都寫在裡面
        .wrapper_Member_center {
            // border: 1px solid red;
            // background-color: rgb(112, 111, 103);
            padding-top: 24%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            
            .title_btn{
                width:90%;
                margin-bottom:8px ;
                // border: 1px solid blanchedalmond;
                display: flex;
                justify-content:center;
                
                .on{
                    position: relative;
                    transition: all 1.5s linear;
                    &:before{
                        content:"";
                        width:95%;
                        height:2px;
                        background-color: whitesmoke;
                        position: absolute;
                        left:1px;
                        bottom: 0px;
                    }
                    
                }
                .tab{
                // background-color: hotpink;
                font-size: 0.9rem;
                margin: 0 10px 0 0; 
                // width:55px;
                text-align: center;
                padding:6px 5px 2px 5px;
                }
                &:hover{
                    cursor: pointer;
                }
                .H_1{
                    padding:6px 8px 2px 8px;
                    // color: rgb(207, 31, 154);

                }
                .H_5{
                    padding:6px 8px 2px 8px;
                    // color: rgb(207, 31, 154);

                }
                
            }
            .member_block1{
                width:90%;
                height:auto;
                // border: 1px solid rgb(43, 187, 43); 
                display:flex;
                justify-content: space-around;
                .profile_photo{
                    width:auto;
                    
                    // border: 1px solid blue;
                    margin-right:0;
                    margin-bottom: 10px;
                   form{   

                       .uploadimg{
                        //    background-color: lightblue;
                           width:200px;
                           input{
                            height:50px;
                            width:150px;
                            //影藏預設 點圖片換圖
                               display:none;
                           }
                           label{
                                .img_block{
                                    margin: 0 auto;
                                    width:150px;
                                    height:150px;
                                    border-radius: 50%;
                                    background-color: gold;
                                    overflow: hidden;
                                    img{
                                        width: 150px;
                                        height: auto;
                                    }
                                }
                           }
                       }
                   }
                }
                .tab_form{
                    // border: 1px solid rgb(207, 31, 154);
                    width: 95%;
                        // background-color: green;
                        .profile{
                            .tabform1{
                               .profile_col{
                                   display:flex;
                                   justify-content: space-between;
                                  input{
                                      width: 160px;
                                      font-size: 0.7rem;
                                  
                                  }
                                  .col3{
                                    // background-color: blueviolet;
                                    width: 40px;
                                    cursor: pointer;
                                }
                                }
                            }
                        }
                    
                }    
                
            }
         
        
        }
        
            
        
        
    
    
  
    
}


